body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url(./img/balls.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Rubik', sans-serif;
}

.header {
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  background-color: black;
}

.nav__logo {
  margin-left: 60px;
  font-size: 30px;
  color: bisque;
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-right: 60px;
}

.nav__link {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 200px;  
  color: white;

}

.main__section:nth-child(odd) {
  background-color: black;
}

.main__section:nth-child(even) {
  background-color: rgb(48, 40, 40);
}
.main__section:first-child {
  background: transparent;
  height: 100vh;
}

.main__h2 { 
  margin: 0;
  font-size: 30px;
  text-align: center;
}
.main__form-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.main__button {
  display: inline;
  text-align: center; 
  padding: 8px 30px;
  margin: 0 20px 0 20px;
  background: #f55422;;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  border: 2px solid #f55422;;
  border-radius: 30px;
  cursor: pointer;

}
.main__button:hover {
  background: black;
}


.form__item { 
  display: flex;
  flex-direction: column;
  line-height: 70px;
  border-bottom: 1px solid #353535;
  overflow:visible;
  
}
.after-bnt {
  position: relative;
  padding: 9px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 15px;
  color: #fff;
  background:rgba(255, 255, 255, 0.07);
  background: 50%;
  border: none;
  cursor: pointer;
  transition-duration: 1s;
}
 
.after-bnt:hover {
  background: rgba(255, 255, 255, 0.07);
  background: 100%;
  transition: all 500ms ease;
  
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;

}
.row {
  display: flex;
  flex-direction: column;
}

input, textarea {
  color: #fff;
  padding: 20px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.07);
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: beige;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px ;
  gap: 30px;
}
.footer__img {
  height: 18px;
  cursor: pointer;
  
}
